.heading{
    font-size: 30px;
    color: #48A6DD;
    letter-spacing: 2px;
    font-weight: bolder;
}
.breadcrumbs{
    letter-spacing: 1px;
}
.bold{
    font-weight: bold;
}
.article-heading-container{
    margin-top: 7%;
    margin-bottom: 7%;
}
.announcement-img-1{
    width: 50%;
    margin: 0% 3% 2% 0%;
}
.announcements-article-container {
    margin-top: 5%;
    margin-bottom: 8%;
}
.announcements-article-container p{
   font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    letter-spacing: 1px;
}
.upper-border{
    width: 100%;

}
.lower-border{
    width: 100%;
    margin-top: -1%;
}

@media only screen and (max-width: 375px){
    .upper-border{
        margin-top: -1%;
    }

}
@media only screen and (max-width: 425px){
    .heading{
        font-size: 18px !important;
    }
}
@media only screen and (min-width: 2300px) and (max-width: 2560px){
    .heading {
        font-size: 50px;
    }
    .announcements-article-container p{
        font-size: 30px;
    }
    .read-article-btn{
        font-size:30px !important;
    }
    .back-announcements{
        font-size: 25px;
    }
    .sub-heading{
        font-size: 28px;
    }
 
}