body{
    background-color: #CBEBEC !important;
}
.mountains{
    position: relative;
    width: 100%;
    z-index: 10;
    margin-bottom: -1.3%;
}
.lower-border-container{
    z-index: 11;
    position: relative;
}
.upper-border-container{
    margin-top: 5%;
}
.upper-border-prayer{
    width:35%;
}
.lower-border-prayer{
    /*  position: relative;
    width:35%;
    top:103px;*/
    width: 35%;
}
.dove1{
    position: relative;
    float: left;
    width: 20%;
    margin-top: -8%; 
    z-index: 12;

}
.dove2{
    position: relative;
    float: right;
    width: 20%;
    margin-top: -8%; 
    z-index: 12;
 
}
.outer-container{
    background-color: white;
    border: 4px solid #B7B6B6;
    margin: 0 auto;
    border-radius: 8px;
    padding-top: 4%;
    padding-bottom: 4%;
    z-index: 11;
    position: relative;
}
.outer-container hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #EA2634;
    margin-top: 5px; 
    width: 15%;
    margin-bottom: 7%;
}
.outer-container p{
    font-size: 24px;
}

.header-banner{
    height: 300px;
    background-image: url(../../images/isidoreans-prayer/bg-isidoreans-prayer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-heading-container{
    width: 340px;
    color: white;
    position: relative;
    left: 8%;
    top: 19%;
}
.header-heading{
    font-weight: lighter;
    letter-spacing: 3px;
    line-height: 66px;
    font-size: 50px;
}
.bold{
    font-weight: 900;
}
@media (min-width: 320px) {
    .wii-heading, .history-heading{
        text-transform: uppercase;
        font-size: 20px;
        font-family: Raleway-ExtraBold;
        color: #E6414D;
    }
    .wii-content p{
        font-size: 12px;
    }
}
@media (min-width: 768px){
    .wii-content p {
        font-size: 15px;
    }
}
@media (min-width: 1024px){
    .wii-heading{
        font-size: 25px;
    }
    .wii-content p {
        font-size: 20px;
    }
}
@media (min-width: 1440px){
    .wii-heading{
        font-size: 35px;
    }
    .wii-content p {
        font-size: 25px;
    }
}
@media (min-width: 2560px){
    .wii-heading{
        font-size: 45px;
    }
    .wii-content p {
        font-size: 35px;
    }
}